:root {
  --entity-list-row-height: 30px;
  --entity-list-max-width: 960px;
  --entity-card-max-width: 720px;
}

/*
Entity Cards in general
*/
.entity-card .mat-card-header-text {
  margin: 0;
}

/*
Entity Detail Component
*/
.entity-detail-card {
  max-width: var(--entity-card-max-width);
}



/*
Entity Editor Component
*/

.entity-editor-card {
  position: fixed;
  max-width: var(--entity-card-max-width);
  top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.entity-editor-card .form-row {
  display: flex;
  margin-bottom: 15px;
}

.entity-editor-card .main-form .mat-form-field .mat-form-field-suffix .mat-icon-button {
  height: 2.4em !important;
}

.entity-editor-card .mat-form-field-infix {
  width: auto;
}


/*
Entity List Component and Table Row Editor
*/

.entity-list {
  width: 100%;
  max-width: var(--entity-list-max-width);
  margin-left: auto;
  margin-right: auto;
}

.entity-list mat-row {
  cursor: pointer;
}

.entity-list mat-row:hover,
.entity-list mat-row:focus {
  border-bottom-color: rgba(0, 0, 0, .20);
}

.entity-list mat-row.selected {
  border-bottom-color: rgba(0, 0, 0, .30);
}

.entity-list mat-cell.column-type-entity-selector:hover .mat-cell-content::after {
  /*content: " >";*/
}

.entity-list .progress {
  opacity: 0;
}

.entity-list .progress.progress-visible {
  opacity: 1;
}

.entity-list .mat-cell,
.entity-list .mat-header-cell,
.entity-list .mat-footer-cell,
.entity-list .editor-cell,
.entity-list .filter-cell {
  flex: 3;
}

.entity-list .mat-footer-cell {
  justify-content: flex-end;
}

.entity-list .mat-cell,
.entity-list .mat-footer-cell,
.entity-list .editor-cell,
.entity-list .filter-cell,
.entity-list input.mat-input-element {
  font-size: 15px;
}

.entity-list .mat-cell .mat-cell-content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 1px;
  padding-right: 12px;
  user-select: none;
}

.entity-list mat-cell.related-entity-link {
  text-decoration: underline;
}

.entity-list mat-footer-row,
.entity-list mat-row {
  min-height: var(--entity-list-row-height);
}

.entity-list .mat-footer-row {
  width: 100%;
}

.entity-list mat-footer-cell {
  text-align: right;
}


.entity-list mat-cell.mat-column-id {
  color: silver;
}

[component-style='entity-list'] .mat-column-id,
[component-style='entity-list'] .editor-cell.mat-column-id {
  width: 72px;
  max-width: 72px;
}

[component-style='entity-list'] mat-cell.mat-column-id .mat-cell-content,
[component-style='entity-list'] .editor-cell.mat-column-id input {
  box-sizing: border-box;
  text-align: right;
  padding-right: 24px;
}

[component-style='entity-list'] mat-header-cell.column-type-date,
[component-style='entity-list'] mat-cell.column-type-date,
[component-style='entity-list'] .editor-cell.column-type-date {
  width: 120px;
  flex: none;
}


/*
Table Row Editor
*/

.editor-row.editor-inline,
.editor-moved,
.editor-row {
  min-height: var(--entity-list-row-height);
}

/*  Editor moved to a specific row */
.editor-moved {
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 50;
  transform: translateY(0);
  max-width: var(--entity-list-max-width);
}

.editor-inline .mat-form-field-infix {
  border-top: 0;
}

.editor-inline .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button,
.editor-inline .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  width: 1.6em;
  height: 1.6em;
}

.editor-inline .mat-form-field-wrapper {
  padding-bottom: 0;
}

.editor-inline .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0;
}

.editor-inline .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: .5em 0 .5em 0;
}

.editor-inline .mat-form-field-label-wrapper {
  display: none;
}

.editor-inline .mat-form-field-underline {
  bottom: 0;
}

.editor-inline .mat-form-field-subscript-wrapper {
  display: none;
}


/*********/

/* Editor row */

.editor-row {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

/* Set to 180px somewhere for some reason */
.editor-row .mat-form-field-infix {
  width: auto;
}

.editor-row .editor-cell,
.editor-row .editor-cell .editor-type-switch,
.editor-row .editor-cell .editor-type-switch mat-form-field,
.editor-row .editor-cell .editor-type-switch mat-form-field .mat-form-field-wrapper,
.editor-row .editor-cell .editor-type-switch mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
  height: 100%;
}

.editor-row .editor-cell:first-of-type {
  padding-left: 24px;
}

.editor-row .editor-cell:last-of-type {
  padding-right: 24px;
}

.editor-row .editor-cell:first-of-type .mat-form-field-wrapper {
  margin-left: -24px;
}

.editor-row .editor-cell:last-of-type .mat-form-field-wrapper {
  margin-right: -24px;
}

.editor-row .editor-cell .mat-form-field-appearance-fill .mat-form-field-flex {
  padding-left: 0;
}

.editor-row .editor-cell:first-of-type .mat-form-field-flex {
  padding-left: 24px;
}

.editor-row .editor-cell:last-of-type .mat-form-field-flex {
  padding-right: 24px;
}

.editor-row mat-form-field {
  width: 100%;
}

.editor-row div[ng-reflect-ng-switch=none] .mat-form-field-underline .mat-form-field-ripple {
  display: none;
}

.editor-row .mat-form-field-flex {
  align-items: center;
}

.editor-row .mat-form-field-suffix {
  margin-right: 6px;
  margin-bottom: 2px;
}

.editor-row .mat-select-arrow-wrapper {
  padding-top: 9px;
  padding-right: 6px;
}

filter-row .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
}

.error-tooltip {
  color: white;
  background-color: red;
}

.mat-form-field-appearance-fill .clear-button .mat-icon,
.mat-form-field-appearance-fill .mat-form-field-prefix .mat-datepicker-toggle-default-icon,
.mat-form-field-appearance-fill .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  width: 1em !important;
  height: 1em !important;
}


/**********/


/*
Entity Relation Component
*/

.relation {
  width: 100%;
}

.relation mat-toolbar.mat-toolbar-single-row {
  height: 48px !important;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.relation .mat-toolbar h4 {
  font-size: 16px;
}

.form-row .relation {

}

.relation editor-row {
  width: calc(100% - 32px);
  margin-right: 16px;
}


/*
Entity List Of Cards Component
*/

.entity-cards .entity-detail-card {
  display: inline-block;
  margin: 12px;
  min-height: 90px;
  width: 360px;
  min-width: 240px;
}


.list-of-cards .list-of-cards-paginator .mat-paginator-range-label {
  display: none;
}


/*
Entity Component Dialog
*/

.entity-dialog-actions {
  justify-content: flex-end;
}

mat-dialog-content editor-row.editor-moved {
  width: 552px; /* TODO: better solution for this style e.g. auto */
}


/*
Entity Selector and Entity Selector List
*/

entity-selector .mat-input-element,
entity-selector-list .mat-input-element {
  width: calc(100% - 30px);
  overflow: hidden;
  text-overflow: ellipsis;
}

entity-selector .mat-icon-button,
entity-selector-list .mat-icon-button {
  margin-top: -12px;
  margin-bottom: -4px;
  width: 1.6em;
  height: 1.6em;
  line-height: 1em;
  font-size: 15px;
}

.mat-form-field entity-selector,
.mat-form-field entity-selector-list {
  line-height: 1em;
}

entity-selector .mat-icon-button .mat-icon,
entity-selector-list .mat-icon-button .mat-icon {
  line-height: 1em;
}

entity-selector .material-icons,
entity-selector-list .material-icons {
  font-size: 15px;
}

entity-selector .mat-input-element,
entity-selector .mat-icon-button,
entity-selector-list .mat-input-element,
entity-selector-list .mat-icon-button {
  display: inline-block;
}


entity-selector .mat-autocomplete-panel mat-table mat-row:hover,
entity-selector .mat-autocomplete-panel mat-table mat-row:focus,
entity-selector-list .mat-autocomplete-panel mat-table mat-row:hover,
entity-selector-list .mat-autocomplete-panel mat-table mat-row:focus {
  background: rgba(0, 0, 0, .04);
}


/*
Editor fields
*/

.editor-type-none .mat-form-field-underline .mat-form-field-ripple {
  display: none;
}

editor-field mat-form-field {
  width: 100%;
}
