<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content class="mat-typography">
  <p>{{message}}</p>
</mat-dialog-content>

<mat-dialog-actions align='end'>
  <button (click)="cancel()" mat-button>No</button>
  <button (click)="confirm()" class="mat-primary" mat-button>Yes</button>
</mat-dialog-actions>
