<div [formGroup]="rowEditorForm" class="editor-row">
  <div *ngFor="let key of columns" class="editor-cell mat-column-{{key}} column-type-{{getColumnEditor(key).type}}">
    <div [ngSwitch]="getEditor(key).type" class="editor-type-switch">

      <mat-form-field *ngSwitchCase="'none'" [floatLabel]="floatLabel">
        <input formControlName="{{key}}" matInput readonly>
      </mat-form-field>

      <mat-form-field *ngSwitchCase="'text'" [floatLabel]="floatLabel">
        <input
          formControlName="{{key}}" matInput
          [matTooltipDisabled]="hasErrors(key)"
          [matTooltip]="getErrorMessage(key)"
          matTooltipClass="red-tooltip"
        >
      </mat-form-field>

      <mat-form-field *ngSwitchCase="'textarea'" [floatLabel]="floatLabel">
        <textarea
          formControlName="{{key}}" matInput
          [matTooltipDisabled]="hasErrors(key)" [matTooltip]="getErrorMessage(key)"
          matTooltipClass="red-tooltip"
        ></textarea>
      </mat-form-field>

      <mat-form-field *ngSwitchCase="'select'" [floatLabel]="floatLabel">
        <mat-select formControlName="{{key}}">
          <mat-option [value]="">-</mat-option>
          <mat-option
            *ngFor="let option of editorColumns[key].options"
            [value]="option.value">{{option.label}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngSwitchCase="'date'" [floatLabel]="floatLabel">
        <input [matDatepicker]="datePicker" formControlName="{{key}}" matInput>
        <mat-datepicker-toggle [for]="datePicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field *ngSwitchCase="'entity-selector'" [floatLabel]="floatLabel">
        <entity-selector
          formControlName="{{key}}"
          [meta]="injector.get(editorColumns[key].relatedEntity.serviceName).meta"
          [service]="injector.get(editorColumns[key].relatedEntity.serviceName)"
          [autoActiveFirstOption]="true"
          [showClearButton]="true">
        </entity-selector>
      </mat-form-field>

    </div>
  </div>
</div>
