<input
  type="text"
  [formControl]="searchControl"
  [matAutocomplete]="auto"
  (blur)="blur()"
  (focus)="focus()"
  spellcheck="false"
  matInput>

<button *ngIf="showClearButton && !!searchControl.value" (click)="clearValue()"
        class="clear-button" mat-icon-button aria-label="Clear" matSuffix>
  <mat-icon>close</mat-icon>
</button>

<mat-autocomplete
  #auto="matAutocomplete"
  [displayWith]="displayWith.bind(this)">
  <mat-option
    *ngFor="let entity of dataSource.entitiesSubject | async"
    [value]="entity"
    (onSelectionChange)="optionSelected($event)">
    {{ entity ? meta.displayNameRenderer(entity) : '' }}
  </mat-option>
  <mat-option *ngIf="createButtonVisible" style="display: none"></mat-option>
  <mat-divider *ngIf="createButtonVisible"></mat-divider>
  <button (click)="createNew()" *ngIf="createButtonVisible" mat-menu-item>Create
    new {{meta.displayName.toLowerCase()}}</button>
</mat-autocomplete>
