
  <button
    (click)="selectPrevious()"
    [disabled]="!hasPrevious"
    matTooltip="Select previous"
    mat-icon-button>
    <mat-icon>chevron_left</mat-icon>
  </button>

  <button
    (click)="selectNext()"
    [disabled]="!hasNext"
    matTooltip="Select next"
    mat-icon-button>
    <mat-icon>chevron_right</mat-icon>
  </button>
