<mat-card class="list-of-cards-card">

  <mat-card-content>

    <mat-paginator
      [hidePageSize]="true"
      [length]="dataSource.total$ | async"
      [pageSize]="pageSize"
      class="list-of-cards-paginator">
    </mat-paginator>

    <mat-grid-list cols="2" rowHeight="fit" style="height: 480px">
      <mat-grid-tile *ngFor="let entity of dataSource.entities$ | async">

        <ng-template class="relation" entity-component-entrypoint></ng-template>

      </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>


</mat-card>





