<mat-card class="entity-editor">

  <editor-actions
    [meta]="meta"
    [service]="service"
  ></editor-actions>

  <mat-card-header>
    <mat-card-title>{{meta.displayName}} Editor</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="entityForm">

      <!-- ID-->
      <div>
        <mat-form-field class="editor-type-none">
          <mat-label>ID</mat-label>
          <input formControlName="id" matInput name="id" readonly>
        </mat-form-field>
      </div>

      <!-- More fields go here -->

    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button (click)="deleteEntity()" [disabled]="isNew()" mat-button>Delete</button>
    <button (click)="revert()" [disabled]="!entityForm.dirty" mat-button>Revert</button>
    <button (click)="saveEntity()" [disabled]="!entityForm.dirty || entityForm.invalid" color="primary" mat-button>Save
    </button>
  </mat-card-actions>

</mat-card>
