<div class="entity-list" component-style="entity-list">

  <div class="progress" class.progress-visible="dataSource.loading$ | async">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <editor-actions
    [meta]="meta"
    [service]="service">
  </editor-actions>

  <mat-toolbar class="list-toolbar-top" *ngIf="toolbarVisible">

    <h4>{{title}}</h4>

    <span class="fill-remaining-space"></span>


    <button
      (click)="selectPrevious()" color="primary"
      matTooltip="Select the previous {{meta.displayName.toLowerCase()}}"
      *ngIf="isManaged"
      mat-icon-button>
      <mat-icon>chevron_left</mat-icon>
    </button>

    <button
      (click)="selectNext()" color="primary"
      matTooltip="Select the next {{meta.displayName.toLowerCase()}}"
      *ngIf="isManaged"
      mat-icon-button>
      <mat-icon>chevron_right</mat-icon>
    </button>

    <button (click)="checkAndSave()" [disabled]="!isSaveable()" *ngIf="editable"
            color="primary" matTooltip="Save {{meta.displayName.toLowerCase()}}" mat-icon-button>
      <mat-icon>done</mat-icon>
    </button>

    <button (click)="toggleEditor()" color="primary" *ngIf="editable"
            matTooltip="{{(editorVisible) ? 'Hide' : 'Show'}} a new {{meta.displayName.toLowerCase()}} editor"
            mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>

    <button (click)="toggleFilter()"
            matTooltip="{{(filterVisible) ? 'Hide' : 'Show'}} the filter" color="primary" mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>

    <button [matMenuTriggerFor]="titlebarMenu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #titlebarMenu="matMenu">

      <button (click)="filterRow.clear()" mat-menu-item>
        <span>Clear filter</span>
      </button>
      <mat-divider></mat-divider>

      <button (click)="editorRow.clear()" *ngIf="editable" mat-menu-item>
        <span>Clear editor</span>
      </button>
      <mat-divider></mat-divider>

      <button (click)="newEntity()" *ngIf="editable" mat-menu-item>
        <span>New {{meta.name}}</span>
      </button>
      <button (click)="goToManager()" *ngIf="editable" mat-menu-item>
        <span>{{meta.displayName}} Manager</span>
      </button>
      <mat-divider></mat-divider>

      <button (click)="deleteEntities()" *ngIf="editable" mat-menu-item>
        <span>Delete {{meta.namePlural}}</span>
      </button>
      <button (click)="updateEntities()" *ngIf="editable" mat-menu-item>
        <span>Update {{meta.namePlural}}</span>
      </button>
    </mat-menu>

  </mat-toolbar>


  <mat-table
    [dataSource]="dataSource" matSort
    matSortActive="{{this.initialSort || this.meta.defaultSortField}}"
    matSortDirection="{{this.initialSortDirection || this.meta.defaultSortDirection}}"
    matSortDisableClear>

    <ng-container *ngFor="let column of columns" matColumnDef="{{column}}">
      <mat-header-cell *matHeaderCellDef class="column-type-{{getType(column)}}">
        <span mat-sort-header>{{meta.columnConfigs[column].label}}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="column-type-{{getType(column)}}">
        <span class="mat-cell-content">{{getCellDisplayValue(row, column)}}</span>
      </mat-cell>
    </ng-container>

    <ng-container *matHeaderRowDef="columns">
      <mat-header-row [class.hidden]="!headerVisible"></mat-header-row>

      <filter-row
        (editorChange)="onFilterChanged($event)"
        [class.editor-inline]="true"
        [columns]="columns"
        [hidden]="!filterVisible"
        [meta]="meta">
      </filter-row>

      <editor-row
        (keydown.enter)="onKeyEnter()"
        (keydown.escape)="justStopEditing()"
        [class.editor-inline]="true"
        [class.editor-moved]="!!editorViewState.rowElement"
        [columns]="columns"
        [hidden]="!editorVisible"
        [meta]="meta"
        [style.transform]="editorViewState.transform">

      </editor-row>

    </ng-container>

<!--    matRipple-->

    <mat-row
      (click)="onClick($event, row, idx)"
      (contextmenu)="onContextMenu($event, row, idx)"
      (dblclick)="onDblClick($event, row, idx)"
      (keydown.arrowDown)="onKeyArrowDown($event)"
      (keydown.arrowUp)="onKeyArrowUp($event)"
      *matRowDef="let row; columns: columns; let idx = index;"></mat-row>

    <ng-container matColumnDef="paginator">
      <mat-footer-cell *matFooterCellDef>
        <mat-paginator
          [length]="dataSource.totalSubject | async"
          [pageSize]="meta.defaultPageSize">
        </mat-paginator>
      </mat-footer-cell>
    </ng-container>

    <mat-footer-row *matFooterRowDef="['paginator']" [class.hidden]="!paginatorVisible"></mat-footer-row>

  </mat-table>

</div>


<!-- Context menu -->
<div #contextMenuTrigger="matMenuTrigger"
     [matMenuTriggerFor]="contextMenu"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     style="visibility: hidden; position: fixed">
</div>
<mat-menu #contextMenu="matMenu">
  <ng-template let-entity="entity" let-idx="dataIndex" let-related="relatedEntity" let-target="targetElement"
               matMenuContent>

    <button (click)="goToRelatedEntity(related, entity[related])" *ngIf="related" mat-menu-item>Go to entity</button>
    <mat-divider *ngIf="related"></mat-divider>

    <button (click)="startEditing(entity, target, idx)" *ngIf="!isEditing()" mat-menu-item>Edit inline</button>
    <button (click)="justStopEditing()" *ngIf="isEditing()" mat-menu-item>Stop editing</button>
    <button (click)="selectEntity(entity)" mat-menu-item>Edit in editor</button>
    <button (click)="duplicateEntity(entity)" mat-menu-item>Duplicate</button>
    <button (click)="deleteEntity(entity)" mat-menu-item>Delete</button>
  </ng-template>
</mat-menu>
